Zadanie 1.

In [ ]:
row_counter = 9

for i in range(1, row_counter):
    for j in range(1, i + 1):
        print(j, end="")
    print(" ")

Zadanie 2.

In [ ]:
for i in range(1, 6):
    print("*" * i)

for i in range(4, 0, -1):
    print("*" * i)

Zadanie 3.

In [ ]:
lista_liczb = [6, 2, 3, 7, 1, 12, 56, 99]

#a
for i in range(len(lista_liczb)):
    if lista_liczb[i] >= 10 and lista_liczb[i] <= 99:
        lista_liczb[i] = str(lista_liczb[i])

#b
min_value = min(lista_liczb)
print(f"Najmniejsza wartość: {min_value}")